* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  color: black;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-image: url(../img/red-bg.svg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  height: 100vh;;
}

input {
  border: 1px solid;
  border-radius: 5px;
}

button {
  background-color: #fdfdfd;
  border: 1px solid;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button img {
  pointer-events: none;
}

button:hover img {
  filter: invert(46%) sepia(63%) saturate(1501%) hue-rotate(318deg)
    brightness(95%) contrast(71%);
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

#cancel-edit-btn:hover {
  background-color: #e83949;
  color: #fff;
  border: 1px solid #000;
}

/* Todo Header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #e83949;
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #e83949;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}
.form-control input {
  margin-right: 0.3rem;
  width: 300px;
}

#cancel-edit-btn {
  margin-top: 1rem;
}

/* Todo Form */

#toolbar {
  padding: 1rem;
  display: flex;
}

#toolbar h4 {
  margin-bottom: 0.5rem;
}

#search {
  border-right: 1px solid #e83949;
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Todo List */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e83949;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background: #e83949;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
}

/* Remover cor de fundo da sugestão automatica */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}
input[type="text"] {
  caret-color: #000;
}

#todo-list {
  max-height: 200px;
  overflow-y: auto;
  padding: 0px 8px 0px 8px;
}

::-webkit-scrollbar {
  width: 12px; 
  margin-left: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #f7f7f7; 
}

::-webkit-scrollbar-thumb {
  background: #f88c84; /* cor de fundo do botão */
  border-radius: 4px; 
  width: 50%; 

}

::-webkit-scrollbar-thumb:hover {
  background: #e83949;
}

@media (max-width: 720px) {
  ::-webkit-scrollbar {
    display: none;
  }
}